/* styles.css */
body, h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: #2a2a72; /* Dark indigo blue background */ 
    color: #f0f0f0; /* Light grey text for readability */
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    animation: fadeIn 5s ease-out forwards;
}

@keyframes headerFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

header {
    background-color: #18183e; /* Even darker shade for header */
    padding: 16px;
    text-align: center;
    animation: headerFadeIn 3.5s ease-out forwards;
}

header h1 {
    color: #c9ada7; /* Soft pink for a calming effect */
}

.fixed-element, .another-fixed-element {
    animation: fadeIn 3s ease-out forwards;
}

@keyframes fadeIn {
    from {
      background-color: rgb(0, 0, 0);
    }
    to {
      background-color: #2a2a72; 
    }
  }

main {
    flex: 1;
    display: flex;
}
.section {
    flex-grow: 1;
    margin: 10px;
    padding: 20px;
    background-color: #3a3a85; /* Default background color for sections */
    color: white;
    transition: background-color 0.3s; /* Smooth background color transition */
}

@keyframes sectionFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

section {
    flex: 1;
    background-color: #3a3a85; /* Default background color for sections */
    color: white;
    transition: background-color 0.3s; /* Smooth background color transition */
    cursor: pointer;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: sectionFadeIn 3.5s ease-out forwards;
}

/* Hover effect explicitly defined after the base style */
section:hover {
    background-color: #4a4a95; /* Lighter blue on hover */
}

@keyframes footerFadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

footer {
    background-color: #161625;
    color: #c9ada7;
    text-align: center;
    padding: 12px;
    animation: footerFadeIn 3.5s ease-out forwards;
}